
name: Firebase Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Check Code Formatting
        run: npm run format:check

      - name: Run Lint
        run: npm run lint

      - name: Run Tests
        run: npm test -- --watchAll=false

      - name: Build project
        run: npm run build

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v13.0.2
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
